div{
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #B1DDEA;
    padding: 20px;
}

input {
    width: 100%;
    padding: 0px;
    border: 0px
}

button {
    width: 100%;
}