div{
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #B1DDEA;
    padding: 20px;
}

input {
    width: 100%;
    padding: 0px;
    border: 0px
}

button {
    width: 100%;
    transition-duration: 0.4s;
}

button {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
}

button:hover {
    background-color: aqua;
}

::placeholder {
    text-align: center;
}